:root {
	--c--header: #1F1F1F;
	--c--primary: #EE2526;
	--c--gray: #AAAAAA;
	--c--text: #1F1F1F;
	--ff--header: "Maven Pro", sans-serif;
	--ff--text: "Maven Pro", sans-serif;
	--fz--h2: 6rem;
	--fz--h3: 3.6rem;
	--fz--root: 62.5%;
	--fz--small: 1.2rem;
	--fz--text: 1.6rem;
	font-size: var(--fz--root);
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

body {
	color: var(--c--text);
	font: var(--fz--text)/2.4rem var(--ff--text);
	&.no-scroll {
		overflow: hidden;
	}
}

#header {
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0.4rem 0.8rem #EEEEEE;
	padding: 1.2rem 2.4rem;
	position: sticky;
	top: 0;
	z-index: 600;
	.logo {
		height: 3.6rem;
	}
}

main {
	padding: 0 2.4rem;
}

img {
	display: block;
}

.grid {
	display: grid;
	gap: 0 2.4rem;
}

.h1,
h1 {
	font-size: var(--fz--h1);
	line-height: null;
}

.h2,
h2 {
	font-size: var(--fz--h2);
	line-height: null;
}

.h3,
h3 {
	font-size: var(--fz--h3);
	line-height: 3.6rem;
}

.heading,
dt,
h1,
h2,
h3,
legend,
th {
	color: var(--c--header);
	font-family: var(--ff--header);
	font-weight: 700;
	a {
		color: inherit;
	}
}

svg {
	height: 100%;
}